body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
 color:black;
}

.logo{
height: 502px;
width:501px;
display: inline-block;
}
.largebox{
  height: 200px;
  width:500px;
}

.box{
  height:101px;
  width: 201px;
}

.links{
  text-decoration: none;
  color:black;
  font-size: 20px;
}

